/**
Main stylesheet
**/
.interestselected:checked {

}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

.padded-checkbox {
    margin-left: 15px;
}

.nicepanel1 {
    background-color: #FFFF80;
}

.nicepanel1:hover {
    background-color: #FFFFB8;
}

.alternate:nth-child(odd) {
    background-color: #FFFF80;
}

.alternate:nth-child(even) {
    background-color: #FFFFB8;
}

.question-type-1 {
. width : 100 px;
}

.question-background {
. background-color : #FFFFB8;
}

.addAnswer {
    font-size: x-large;
    padding-left: 6px;
    padding-right: 6px;
}

.removeQuestion {
    font-size: x-large;
    padding-left: 6px;
    padding-right: 6px;
}
